.imageclass{
    height: 100vh;
    padding-top: 5px;
  background-image: url("https://getwallpapers.com/wallpaper/full/6/d/0/868430-download-free-cute-puppies-wallpaper-hd-1920x1280-free-download.jpg");
    
}
.container{
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-top:50px;
    width:600px;
    background:#fff;
    padding-bottom: 0px;
}
.header{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:9px;
    width:100%;
    margin-top:20px;
}
.text{
    color:#3c009d;
    font-size:48px;
    font-weight:700;
}
.underline{
    width:85px;
    height:6px;
    background:#3c009d;
    border-radius:9px;
}
.inputs{
    margin-top:37px;
    display:flex;
    flex-direction:column;
    gap:20px;

}
.input{
    display:flex;
    align-items:center;
    margin:auto;
    width:480px;
    height:73px;
    background:#eaeaea;
    border-radius:6px;
    
}
.input img{
    margin: 0px 30px;
}
.input input{
    height:50px;
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    color:#797979;
    font-size: 19px;
    color:#000000;
    :hover{
        background-color: green;
    }
}

.forgot-password
{
    padding-left:62px;
    margin-top:27px;
    color:#797979;
    font-size:18px;
}
.forgot-password span{
    color:#4c00b4;
    cursor:pointer;
}
.submit-container{
    display:flex;
    flex-direction: column;
    gap:30px;
    margin:60px auto;
    :hover{
        background-color: lightslategrey;
    }
}
.submit{
    display: flex;
    justify-content:center;
    align-items:center;
    height:59px;
    width:220px;
    color:#fff;
    background:#4c00b4;
    border-radius:50px;
    font-size:19px;
    font-weight:700;
    cursor:pointer;

}
.gray{
    background:#EAEAEA;
    color:gray;
}